@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
@import 'material-symbols';
@import "tailwindcss";


/* Material Symbols Base Styles */
 
 @layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

  .star-radio:checked ~ .star-label .material-symbols-outlined {
    font-variation-settings: 'FILL' 1;
    @apply text-amber-400;        /* #fbbf24 */
  }

@theme {
  --color-blue: #3B82F6;
  --color-primary: #3b82f6;
  --color-primary-dark: #2563EB;
  --color-surface-light: #FFFFFF;
  --color-surface-dark: #1F2937;
  --color-text-primary-light: #111827;
  --color-text-primary-dark: #F9FAFB;
  --color-text-secondary-light: #6B7280;
  --color-text-secondary-dark: #9CA3AF;
  --color-red:  #fd3434;
  --color-background-light: #F9FAFB;
  --color-background-dark: #111827;
  --color-accent: #00D4B3;
  --color-text-light: #333333;
  --color-text-dark: #E6E6E6;
  --color-heading-light: #000000;
  --color-heading-dark: #FFFFFF;
  --color-border-light: #E5E7EB;
  --color-border-dark: #374151;
  --color-subtext-light: #4c669a;
  --color-subtext-dark: #a1b1d2;
  --color-text-muted-light: #4c669a;
  --color-text-muted-dark: #94a3b8;
  --color-neutral-light: #f6f9fc;
  --color-neutral-dark: #1a2436;
  --color-neutral-border-light: #e6e6e6;
  --color-neutral-border-dark: #334155;
  
  --font-family : "Space Grotesk", "sans-serif";
  
  --radius: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

@variant dark (&:where(.dark, .dark *));

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: 20px;
}

body {
  font-family: var(--font-family);
}
 